
$sub-color: grey;
$main-color: #67D9B7;

@mixin shrinkLabel {
  top: -4px;
  font-size: 12px;
  color: $main-color;
}





.group {
  position: relative;
  border-radius: 5px;
  border: 1px solid #6CEEC7;
  
  .pass{-webkit-text-security: square;}
  
  .form-input {
    position: relative;
    left: 35px;
    
   
    background: none;
    background-color: transparent !important;
    color: $sub-color !important;
    appearance: auto !important;
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 300px;
    height: 56px;
    outline: none;
    border: none;


   

    
    
    &:focus {
      outline: none;
      background-position: 0 0;
    }

    &:focus ~ .form-input-label {
      @include shrinkLabel();
    }


  }



  .form-input-label {
    color: $sub-color;
    font-size: 16px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 45px;
    top: 15px;
    transition: 300ms ease all;

    &.shrink {
      @include shrinkLabel();
    }
  }
}

